.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

td.button-container {
    position: absolute;
    display: none;
    padding: 0 0 0 4px;
}

#items-table tr:hover .button-container {
    display: block;
}

.operating-button {
    font-weight: bold;
    display: inline-block;
    color: #ffffff;
    padding: 12px 15px;
}

.operating-button:hover {
    cursor: pointer;
}

.order-button {
    background-color: #ee7635;
}

.order-button:hover {
    background-color: #ff8b31;
}

.refill-button {
    background-color: #5bc227;
}

.refill-button:hover {
    background-color: #6be02e;
}

.styled-table tfoot td {
    color: #808080;
    padding-left: 10px;
}

#empty-items-banner {
    cursor: pointer;
}

#new-item-name-input {
    width: 100%;
}

#new-item-name-input:invalid{
    color: #e33737;
}